{% extends 'squirrelapp/base.html' %}
  
{% load static %}
{% block title %} - {{ sighting.Unique_Squirrel_ID }}{% endblock %}
{% block main %}
<h1>Add a Contractor from our available Contractors!!</h1>
<form id="update_sighting" method="post" action="{% url 'squirrelapp:request' sighting.Unique_Squirrel_ID %}", class="input-group mb-3">
  {% csrf_token %}
  {{ form.as_p }}
   <input type="hidden" name="next" value="{{ request.path }}">
    <label for="Latitude">Latitude </label>
    <input type="number" name="Latitude" id="Latitude" step="0.000000001"><br><br>
  <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit">Update</button>
  </div>
  <div id="errors" class="mb-3"></div>
</form>
<div class="col-md-8">
          <div class="card mb-8 shadow-sm">
            <div class="card-body">
              <p class="card-text">
                <div class="pet-name">
                  <strong>{{ sighting.Unique_Squirrel_ID }}</strong>
                </div>
                <div>
                  <span class="text-muted font-italic">Latitude:</span>
                  <span>
                    {{sighting.Latitude }}
                  </span>
                </div>
                </p>
            </div>
          </div>
</div>
{% endblock %}/
